<div class="search">
    <input type="text" placeholder="Search todos" [(ngModel)]="searchValue">
</div>
<div class="todos">
    @for (todo of todos() | filterTodos : searchValue(); track todo.id) {
        <app-todo-item
            [todo]="todo"
            (todoToggled)="toggleTodo(todo.id)"
            (todoEditClicked)="openEditDialog(todo)"
            (todoUpdated)="updateTodo(todo.id)"
            (todoDeleted)="deleteTodo(todo.id)"
            />
    } @empty {
        <span>No todos found</span>
    }
</div>
