.todo {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    padding-block: 8px;
    padding-inline: 20px;
    border: .5px solid blue;
    border-radius: 5px;
    max-width: fit-content;
    margin-bottom: 18px;
}

.todo-text {
    min-width: 500px;
    max-width: 500px;
}

span {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    margin-left: 3px;
    padding-inline: 10px;
    padding-block: 8px;
    font-weight: bold;
    border-width: 0px;
    border-radius: 4px;
}


.delBtn {
    background-color: rgb(175, 0, 0);
    color: white;
}

.editBtn {
    background-color: rgb(0, 89, 141);
    color: white;
    margin-right: 10px;
}