body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-group {
    display:flex;
    flex-direction: column;
    gap: 5px
}

input {
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
}